<!DOCTYPE html>
%html
  %head
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js" type="text/javascript"></script>
    %link{:href => '/reset.css', :rel => 'stylesheet', :type => 'text/css'}
    <link type="text/css" href="jquery-ui-1.8.23.custom.css" rel="stylesheet" />
    %link{:href => '/styles.css', :rel => 'stylesheet', :type => 'text/css'}
    <link rel="icon" type="image/png" href="/favicon.png">
    <meta property="og:image" content="http://wikiloopr.com/logo_letters.png" />
    <meta name="description" property="og:description" content="#{@copy['description'][@lang]}" />

    - if @query
      %title #{@copy['title'][@lang]} #{@query}
    - else
      %title WikiLoopr - #{@copy['frontTitle'][@lang]}

  %body

    #main

      #languages
        %a{:href => 'http://wikiloopr.com/'} English
        %a{:href => 'http://es.wikiloopr.com/'} Español
        %a{:href => 'http://ru.wikiloopr.com/'} русский
        %a{:href => 'http://nl.wikiloopr.com/'} Nederlands


      %a{:href => '/'}
        %img#logo{:src => '/logo.png', :alt => 'WikiLoopr'}

      #explanation= @copy['main'][@lang]
      #small *#{@copy['asterisk'][@lang]}

      #search{}
        %form#start
          %span#startat= @copy['start'][@lang]
          %input{:type => 'text', :placeholder => "#{@start}"}

      %ul#results
      %img#loading{:src => '/loading.gif'}

      #side
        %span.first
        %span.initialLength
        %span.loopstart
        %span.loopLength
        %span.loopend

    #bottomleft.bottom
      #{@copy['brought'][@lang]}<br />
      %a{:href => 'http://www.syndiosocial.com/the-philosophy-of-networks/'}
        %img{:src => '/syndio.png', :alt => 'Syndio Social'}

    #bottomright.bottom
      #{@copy['coded'][@lang]} <a href="http://seangransee.com">Sean Gransee</a>.<br />
      #{@copy['source'][@lang]} <a href="https://github.com/seangransee/WikiLoopr">GitHub</a>.<br />
      #{@copy['donating'][@lang]} <a href="http://wikimediafoundation.org/wiki/Donate/en">Wikipedia</a>.
      

      :javascript
        var query = "#{@query}";
        var lang = "#{@lang}";
        var title = "#{@copy['title'][@lang]}";

      <script type="text/javascript" src="jquery-ui-1.8.23.custom.min.js"></script>
      %script{:src => '/wikiloopr.js'}


      / EVERYTHING BELOW THIS IS FOR STATS

      :javascript
        var sc_project=8247518; 
        var sc_invisible=1; 
        var sc_security="218be968"; 
      <script type="text/javascript"
      src="http://www.statcounter.com/counter/counter.js"></script>
      :javascript
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-1016807-16']);
        _gaq.push(['_trackPageview']);
        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();